@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/bg.jpg');
    /* background-color: red; */
    /* background-size: cover;
    background-position: center; */
}

html {
  scroll-behavior: smooth;
}