@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/bg.jpg');
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% / 3)); }
}
.animate-marquee {
  animation: marquee-smooth var(--speed, 20s) linear infinite;
  will-change: transform; /* Optimasi performa */
}